<div class="borda"><a class="botaolongo"  routerLink="../metricas">colaborador 1</a></div>
<div class="borda"><a class="botaolongo"  routerLink="../metricas">colaborador 2</a></div>
<div class="borda"><a class="botaolongo"  routerLink="../metricas">colaborador 3</a></div>
<div class="borda"><a class="botaolongo"  routerLink="../metricas">colaborador 4</a></div>
<div class="borda"><a class="botaolongo"  routerLink="../metricas">colaborador 5</a></div>
<div class="borda"><a class="botaolongo"  routerLink="../metricas">colaborador 6</a></div>

