.botaolongo{
    width: 100vw;
    height: 100px;
    font-size: 50px;
    margin-left: -50;
    border: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.borda {
    padding: 0px;
    margin: 0px;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    padding-left: 0px;
    border: 4px solid;
    border-color: rgb(148, 0, 0);
    color: rgb(207, 207, 207);
    background-color: black;
    height: 100px;
    top: 0px;
}
